body
{
    color: #ffffff;
    background-color: black;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

footer img:hover, footer img:active
{
    transition: transform 0.2s;
    transform: scale(1.3);
}

footer
{
    text-align: center;
    text-decoration: underline;
    border: 2px solid white;
    border-radius: 20px;
    height: 150px;
    overflow-x: auto;
    overflow-y: auto;
}

.social
{
    align-items: center;
    width: 50px;
    height: 50px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e534eb, 0 0 40px #d634eb, 0 0 50px #c934eb, 0 0 60px #b734eb, 0 0 70px #a834eb;
    }
    
    to {
      text-shadow: 0 0 30px #fff, 0 0 30px #e534eb, 0 0 40px #d634eb, 0 0 50px #c934eb, 0 0 60px #b734eb, 0 0 70px #a834eb, 0 0 80px #a834eb;
    }
  }


.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(img/rollermadness.jpg);
    width:100 px;
    height:100 px;
    background-size: 328px 328px;    
}

.xop-img-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(img/boxshooter.jpg);
    width:100 px;
    height:100 px;
    background-size: 328px 328px;     
}

.xop-img-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(img/sliderush.jpg);
    width:100 px;
    height:100 px;
    background-size: 328px 328px;
}


.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
    line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}